@use "../../scss/" as *;


.User-notification {
    flex-basis: 45%;
    height: auto;
    
}

.notification {
    flex-basis: 45%;
    height: auto;
    /* please don't change 'position' */
    position: sticky;
    z-index: 99;
    box-shadow: $box-shadow;

    top: 0;
    &__header {
        height: $header-height;
        background: $body-bg;
        transition: all 1.5s ease;
        @include flex(center, space-between);

        h2 {
            font-size: 20px;
            margin-left: 2rem;
        }
        span {
            padding-right: 2rem;
        }
    }
    &__main {
        .header-nav {

            @include flex(center, space-between);
            li {
                width: 50%;
                border-right: 3px solid #E7EBF0;
                background-color: $body-bg;
                text-align: center;
                cursor: pointer;
                line-height: 50px;
                height: 50px;
                font: {
                    size: 1.1rem;
                    weight: 700;
                }
                &:hover {
                    box-shadow: $box-shadow-1;
                }
                &.active a{
                    color: $main-color;
                    transition: all 300ms ease;
                    
                }
            }
        }
    }
}