@use '../../../scss/' as *;

.myFriends{
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    width: 100%;
    height: 100vh;
    .friends-lish{
        cursor: pointer;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        &:hover{
            background:$white;
        }
        .friends-lish-profile{
            display: flex;
            .friends-lish-avt{
                margin-right: 10px;
            }
        }
        .friends-lish-fow{
            >Button{
                width: 100px;
                color: white;
                margin-right: 20px;
                outline: none;
                padding: 7px 20px;
                border-radius: 40px;
                border: 1px solid #ccc;
                font-weight: 700;
                font-size: 14px;
                text-transform: none;
                background: linear-gradient(90deg, rgba(0, 206, 213, 1) 0%, rgba(0, 212, 255, 1) 100%);
                &:hover{
                    background: none;
                    border: 2px solid red;
                    color: red;

                }
            }
            >Button:hover > span {
                display: none;
              }
            >Button:hover:before {
                content: "Unfriend";
              }
        }
        .friends-lish-avt{
            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                object-fit: cover;
            }
        }
    }
}
