$body-bg: #F6F6F9;
$main-color: #1EBADC;
$txt-color: #1D2438;

$bg-main:linear-gradient(90deg, #00ced5 0%, #00d4ff 100%);

$white: #FFF;
$color-btn: #e9f1f7;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-1: 0 2rem 3rem rgba(132, 139, 200, 0.18);

$header-height: 4rem;
$header-shrink-height: 3rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
$spanColor: #939799;