@use '../../../scss/' as *;

.modalContainerPost {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    @include flex(center, center);
    background-color: rgba($color: #000000, $alpha: 0.35);

    .modal {
        background-color: $body-bg;
        width: 45%;
        height: 300px;
        padding: 2rem;
        position: absolute;
        top: 10%;
        right: 20%;
        border-radius: 20px;
        animation: showing-up ease-out 0.3s;

        &_header {
            position: relative;
            border-bottom: 1px solid #dddddd;

            &-title {
                text-align: center;
                color: #000000;
            }

            .close {
                position: absolute;
                top: 0;
                left: 0;
                width: 25px;
                height: 25px;
                border: none;
                background: none;
                cursor: pointer;
                &:hover{
                    color: $main-color;
                }
            }
        }
        &_content {
            margin-top: -50px;
        }
    }
}

@keyframes showing-up{
    from{
        top: 0;
        opacity: 0;
    }
    to{
        top: 10%;
        opacity: 1;
    }
}